footer {
    width: 100%;
    margin-top: 2rem;
    background: $light-blue;
    .social {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        color: $white;
        .social-item {
            text-align: center;
            margin: 1.5rem 0 1rem 0;
            p {
                @media screen and (max-width: 550px){
                    visibility: hidden;
                }
            }
        }
    }
}

.contact {
    background: $dark-blue;
    color: $white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 1.2rem;
    .contact-address {
        float: left;
    }
    .contact-email {
        float: right;
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    @media screen and (max-width: 720px) {
        .contact-address, .contact-email {
            float: none;
        }
    }
}