.main-wrapper {
    display: flex;
    position: relative;
    .left-column {
        width: 40%;
        position: relative;
    }
    .right-column {
        width: 60%;
        position: relative;
    }
}