$pastel-green: #7EE081;
$pastel-red: #FF6961;
$pastel-lightblue: #7BD1F2;
$pastel-white: #F9F8F6;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-size: 1.6rem;
  color: $pastel-white;
  font-weight: bold;
  background-color: $pastel-white;
  user-select: none;
}

.screen {
    width: 100%;
    max-width: 700px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 2rem;
}

.column {
  height: 60%;
  width: 30%;
  border: 1px solid #E3E3E5;
  border-bottom: 5px solid #E3E3E5;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.column2 {
  transition: 0.5s linear;
}

.disk {
  height: 22px;
  border-radius: 10px;
  transition: .05s linear;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 700px;
  height: 30%;
}

.button {
  display: flex;
  width: 45%;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  max-width: 180px;
  height: 4rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

.start {
  background-color: $pastel-green;
}

.reset {
  background-color: $pastel-red;
}

.select-container {
  background-color: $pastel-lightblue;
}

.select {
  font-size: 1rem;
  margin-left: 1rem;
  width: 40px;
  height: 30px;
  padding-left: 5px;
  color: $pastel-white;
  background-color: $pastel-lightblue;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#F9F8F6'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
  background-size: 10px;
  background-position: 20px 12px;
  background-repeat: no-repeat;
  border: 1px solid $pastel-white;
  &:active, &:focus {
    outline: none;
  }
  option {
    background-color: $pastel-lightblue;
    border: 1px solid white;;
    width: 40px;
    height: 30px;
  }
}

$colors: #913CCD, #5481E6, #98CB4A, #F15F74, #F76D3C, #F7D842, #2CA8C2, #839098;

@for $i from 1 through 8 {
  .disk-#{$i} {
    width: 90% - $i * 9%;
    background-color: nth($colors, $i);
  }
}

.active {
  background-color: #F9F9F9;
}

.floating {
  margin-bottom: 20px;
}

.game-won {
  border: 1px solid $pastel-green;
  border-bottom: 5px solid $pastel-green;
  box-shadow: 0px 0px 19px 3px rgba(126,224,129,1);
}